a {
    color: #FFA500;
    text-decoration: none;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #FFA500;
}
.panel-primary > .panel-heading {
    color: #fff;
    background-color: #FFA500;
    border-color: #FFA500;
}
.panel-primary {
    border-color: #FFA500;
}